@import "../style.css";


 .dashboard{
    border: 1px solid #f6ff00;
    border-radius: 3px;
    box-shadow: 10px 10px 100px 10px #48bcffbb;
    display: flex;
    width: 1200px;
    height: 1000px;
    margin: 90px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

 .grafico{
    width: 1160px;
    height: 700px;
    border-top: 3px solid #f6ff00;
    display: flex;
    background-color: #e6f9ff;
    padding: 20px;
    margin-top: 60px;
} 

 .kpis{
    display: flex;
    background-color: #f6ff00;
    color: #000000;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding: 40px;
    margin: 40px;
}

.kpis-container{
    display: flex;
    gap: 200px;
} 

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.dashboard{
    flex-direction: column;
}

.grafico{
    background-color: #ffffff;
    padding: 25px;
    display: flex;
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpis-container{
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 20px
}

.kpis{
    gap: 20px;
    color: black;
    background: white;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
} */
