@import "../style.css";

.containerform{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    background-color: #313137;
    border-radius: 20px;
    width: 650px;
    height: 350px;
}

.contianerinfo{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.containerimagem1{
    display: flex;
    width: 150px;
    height: 150px;
    margin-right: 75px;
}

.containerimagem2{
    display: flex;
    width: 150px;
    height: 150px;
    margin-right: 75px;
}

.botaologin{
    display: flex;
    justify-content:center;
    align-items:center;
}